<div class="content_container">
  <h1>Tehniskie apzīmējumi</h1>
  <p>Zemāk attēloti daži adīšanas apzīmējumi un to skaidrojumi</p>
  <img src="/assets/tehn-apz.jpg" height="500" width="300"/><br>
  <a href="/welcome/advise">Aizvērt</a>
</div>
