<div class="content_container">
  <h1>Noderīgas saites</h1>
  <p>Noderīgas saites, kur var iegūt papildus informāciju par adīšanu.</p>
  <a target="_blank" href="http://www.sauleslacis.com/">http://www.sauleslacis.com/</a> <br>
  <a target="_blank" href="https://adatainikamoli.wordpress.com/">https://adatainikamoli.wordpress.com/</a><br>
  <a target="_blank" href="http://omaszekes.lv/">http://omaszekes.lv/</a><br>
  <a target="_blank" href="https://www.garnstudio.com/home.php?cid=19">https://www.garnstudio.com/home.php?cid=19</a><br>
  <a target="_blank" href="https://www.loveknitting.cohttp://omaszekes.lv/m/free-knitting-patterns">https://www.loveknitting.cohttp://omaszekes.lv/m/free-knitting-patterns</a><br><br>
  <a href="/welcome/advise">Aizvērt</a>
</div>
