<div class="content_container">
  <h1>Video</h1>
  <p>Dažādi ar adīšanu saistīti video, tajā skaitā pamācības, ieteikumi, tehnikas</p>
  <a target="_blank" href="https://www.garnstudio.com/video.php?lang=us">https://www.garnstudio.com/video.php?lang=us</a> <br>
  <a target="_blank" href="https://www.youtube.com/watch?v=RJQswKVPF5k">https://www.youtube.com/watch?v=RJQswKVPF5k</a> <br>
  <a target="_blank" href="https://www.youtube.com/watch?v=WOTkKhGBD4c">https://www.youtube.com/watch?v=WOTkKhGBD4c</a> <br><br>
  <h1>Cimdu fotoattēli</h1>
  <img src="/assets/cimdi1.jpg"/>
  <img src="/assets/cimdi2.jpg" width="300" height="200"/><br>
  <img src="/assets/cimdi3.jpg"/>
  <img src="/assets/cimdi4.jpg" width="300" height="200"/><br>
  <img src="/assets/cimdi6.jpg" width="300" height="200">
  <h1>Cimdu rakstu fotoattēli</h1>
  <img src="/assets/cimdu_16.jpg"/><br>
  <img src="/assets/cimdu_18.JPG"/>
  <img src="/assets/Kruspils_22.jpg"/><br>
  <img src="/assets/R_Vidz_26.jpg"/><br>
  <a href="/welcome/advise">Aizvērt</a>
</div>
