<div class="jumbotron">

<!-- Form Name -->
<h1>Par mums</h1>
  <p class="lead">Adīšana sagādā mums prieku. Tas nomierina un rada baudu.
  <br>Meklējot rakstus cimdiem radās loģisks jautājums - kā atrast nepieciešamo rakstu, neskaitot jau zināmus rakstus ar roku uz papīra. 
  <br>Tā mums radās ideja par sistēmu, kas piedāvā rakstu, tikai atlasot nepieciešamo valdziņu un krāsu skaitu.
  </p>
</div>
