<div class="container-narrow">
  <div class="jumbotron">
    <h1>Izvēlies rakstu saviem cimdiem!<br></h1>

    <p class="lead">Vēlies uzadīt skaistus rakstainus cimdus, bet nezinu, kur atrast piemēroto rakstu atbilstošajam valdziņu skaitam. Reģistrējies un iegūsti vienreizēju iespēju atrast vajadzīgo rakstu!
    </p>
  </div>
  <div class="jumbotron">
    <table class="table">
      <tr>
        <td>
          <h4>Raportu meklēšana<br></h4>
          <p>Ievadot valdziņu un/vai krāsu skaitu, iespējams atrast vajadzīgo rakstu.
            <a href="/patterns">Meklēt.</a>
          </p>
        </td>
        <td>
          <h4>Jaunumi<br></h4>
          <p>Jaunākie jaunumi rokdarbu pasaulē, raksti u.tml.
            <a href="news.html">Jaunumi.</a>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Padomi</h4>
          <p>Dažadi adīšanas padomi.
            <a href="/welcome/advise">Padomi.</a>
          </p>
        </td>
        <td>
          <h4>Profils</h4>
          <p>Profilā iespējams saglabāt raportus, mainīt tiem krāsas, veidot raportu kategorijas.
            <a href="/users/<%= current_user.id %>/profile">Profils.</a><br>
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>