<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Sākums</a></li>
      <li><a href="about.html">Par mums</a></li>
      <li><a href="contact.html">Kontakti</a></li>
      <li><a href="login.html">Pieteikties</a></li>
    </ul>
  </div>
</nav>
<div class="container-narrow">
  <h3 class="muted">Raksti</h3>
</div>
<hr>
  <div class="jumbotron">
    <h1>Izvēlies rakstu saviem cimdiem!<br></h1>

      <p class="lead">Vēlies uzadīt skaistus rakstainus cimdus, bet nezinu, kur atrast piemēroto rakstu atbilstošajam valdziņu skaitam. Reģistrējies un iegūsti vienreizēju iespēju atrast vajadzīgo rakstu!
        <br>
      </p>
        
<hr>
  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Raportu meklēšana<br></h4>

        <p>Ievadot valdziņu un/vai krāsu skaitu, iespējams atrast vajadzīgo rakstu.
          <a href="search.html">Meklēt.</a>
            <br>
        </p>
      <h4>Jaunumi<br></h4>

        <p>Jaunākie jaunumi rokdarbu pasaulē, raksti u.tml.
          <a href="raport_m.html">Raports.</a>
            <br>
        </p>
            
    </div>
    <div class="span6">
      <h4>Padomi</h4>

        <p>Dažadi adīšanas padomi.<a href="padomi.html">Padomi.</a>
          <br>
        </p>
      <h4>Profils</h4>

        <p>Profilā iespējams saglabāt raportus, mainīt tiem krāsas, veidot raportu kategorijas.
          <a href="profile.html">Profils.</a><br>
        </p>
    </div>
  </div>
<hr>
  <div class="footer">
    <p>© Raksti 2014</p>
  </div>
</div>