<div class="tab_container">
  <a class="btn btn-primary btn-lg" href=<%= new_from_img_patterns_path %>>Jauns raports no attēla</a>
  <a class="btn btn-primary btn-lg" href=<%= new_pattern_path %>>Jauns raports</a>
</div>

